/* Tổng thể */
body {
    font-family: Arial, sans-serif;
}

img {
    background-color: #ddd;
    padding: 4px 12px;
}

/* Thanh tìm kiếm */
.search-bar {
    padding: 10px;
    font-size: 18px;
}

/* Card của Quỹ đầu tư */
.fund-card {
    border: 1px solid #ddd;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 20px;
}

.fund-code {
    color: gray;
    font-size: 14px;
}

/* Nút Load More */
.btn-outline-dark {
    font-weight: bold;
    padding: 10px 20px;
}

/* Footer */
.footer {
    background-color: #f8f9fa;
    font-size: 14px;
}

.footer a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
}